.search-container {
    /* position: sticky; */
    top: 90px;
    width: 100%;
    height: 40px;
}

.search-bar {
    display: flex;
}

.search {
    width: 90vw;
    max-width: 500px;
    left: 0;
    right: 0;
    margin: 8px auto;
    border-radius: 5px;
    border: 1px solid white;
    background: rgb(32, 32, 32);
    position: absolute;
}
.search input {
    width: 100%;
    color: white;
    border: 0px;
    font-size: 1.3rem;
    background: transparent;
}

.submit {
    background: transparent;
    background-image: url('./images/loupe.png');
    width: 2rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.submit img {
    filter: brightness(0);
}

.search input:focus {
    outline: none;
}

/* hints */
.search ul {
    list-style: none;
    /* padding: 5px 0 0 0; */
    padding: 0;
    margin: 0;
    color: white;
    display: none;
    border-top: 1px solid rgb(66, 66, 66);
}

.hint {
    padding: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.hint:hover {
    background: rgba(110, 110, 110, 0.5);
}

.highlighted {
    background: rgba(151, 151, 151, 0.5);
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
